/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
@import "bootstrap";

.errors {
    color: red;
}

.field_with_errors input {
    border: 1px solid red;
}

.basketball{
    color: #F3490A;
}

.football{
    color: #6A3B2A;
}

.baseball{
    color: #7EDCE0;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  
  li {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
  }

  a {
    background-color: black;
    border: 1px solid #4E4E4E;
    color: white;
    padding: 1px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
  }

  a:hover {
    background-color: green;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: green;
  }

  body {
    background-color: black;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
  }